@page
@model CustomerManagementSystem.Pages.Staff.DetailsModel

@{
    ViewData["Title"] = "担当者（閲覧）";
}

<h1>担当者（閲覧）</h1>

<div>
    <h4>tbl_staff</h4>
    <hr />

    <table>
        <tr>
        <td class="col-sm-2">
    @Html.DisplayNameFor(model => model.tbl_staff.staff_name)
        </td>
        <td class="col-sm-10">
    @Html.DisplayFor(model => model.tbl_staff.staff_name)
        </td>
        </tr>
        <tr>
        <td class="col-sm-2">
    @Html.DisplayNameFor(model => model.tbl_staff.userId)
        </td>
        <td class="col-sm-10">
    @Html.DisplayFor(model => model.tbl_staff.userId)
        </td>
        </tr>
        <tr>
            <td class="col-sm-2">
    @Html.DisplayNameFor(model => model.tbl_staff.password)
        </td>
        <td class="col-sm-10">
    @Html.DisplayFor(model => model.tbl_staff.password)
        </td>
        </tr>
        <tr>
            <td class="col-sm-2">
    @Html.DisplayNameFor(model => model.tbl_staff.admin_flag)
        </td>
        <td class="col-sm-10">
    @Html.DisplayFor(model => model.tbl_staff.admin_flag)
        </td>
        </tr>
        <tr>
            <td class="col-sm-2">
    @Html.DisplayNameFor(model => model.tbl_staff.delete_flag)
        </td>
        <td class="col-sm-10">
    @Html.DisplayFor(model => model.tbl_staff.delete_flag)
        </td>
    </table>

        <!--
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_staff.staff_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_staff.staff_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_staff.userId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_staff.userId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_staff.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_staff.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_staff.admin_flag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_staff.admin_flag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_staff.delete_flag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_staff.delete_flag)
        </dd>
        -->
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tbl_staff?.Id">編集</a> |
    <a asp-page="./Index">一覧に戻る</a>
</div>
