@page
@model CustomerManagementSystem.Pages.Test.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].customer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].customer_kana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].company_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].post)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].zipcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].tel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].staff_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].first_action_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Test[0].memo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Test) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_kana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.first_action_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memo)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
