@page
@model CustomerManagementSystem.Pages.Company.IndexModel

@{
    ViewData["Title"] = "会社マスター管理";
}

<h1>会社マスター管理</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>会社ID</th>
            <th>会社名</th>
            <th>会社名カナ</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tbl_company) {
        <tr>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">編集</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">詳細</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">削除</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td class="col-sm-10">
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.company_name)
                    </a>
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.company_kana)
            </td>
        </tr>
}
    </tbody>
</table>
