@page
@model CustomerManagementSystem.Pages.CustomerView.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<table class="update_info">
    <tr>
        <td>最終更新日：</td>
        <td>@Html.DisplayFor(model => model.CustomerView.update_date)</td>
    </tr>
    <tr>
        <td>最終更新者：</td>
        <td>@Html.DisplayFor(model => model.CustomerView.update_staff_name)</td>
    </tr>
</table>


<table class="details_info">
    <tr>
        <td class="item_label">顧客ID</td>
        <td>@Html.DisplayFor(model => model.CustomerView.Id)</td>
        <td class="item_label">営業担当</td>
        <td>@Html.DisplayFor(model => model.CustomerView.staff_name)</td>
    </tr>
    <tr>
        <td class="item_label">顧客名カナ</td>
        <td>@Html.DisplayFor(model => model.CustomerView.customer_kana)</td>
        <td class="item_label">初回訪問日</td>
        <td>@Html.DisplayFor(model => model.CustomerView.first_action_date)</td>
    </tr>
    <tr>
        <td class="item_label">顧客名</td>
        <td colspan="3">@Html.DisplayFor(model => model.CustomerView.customer_name)</td>
    </tr>
    <tr>
        <td class="item_label">会社名カナ</td>
        <td colspan="3">@Html.DisplayFor(model => model.CustomerView.company_kana)</td>
    </tr>
    <tr>
        <td class="item_label">会社名</td>
        <td colspan="3">@Html.DisplayFor(model => model.CustomerView.company_name)</td>
    </tr>
    <tr>
        <td class="item_label">部署</td>
        <td>@Html.DisplayFor(model => model.CustomerView.section)</td>
        <td class="item_label">役職</td>
        <td>@Html.DisplayFor(model => model.CustomerView.post)</td>
    </tr>
    <tr>
        <td class="item_label">郵便番号</td>
        <td colspan="3">@Html.DisplayFor(model => model.CustomerView.zipcode)</td>
    </tr>
    <tr>
        <td class="item_label">住所</td>
        <td colspan="3">@Html.DisplayFor(model => model.CustomerView.address)</td>
    </tr>
    <tr>
        <td class="item_label">TEL</td>
        <td colspan="3">@Html.DisplayFor(model => model.CustomerView.tel)</td>
    </tr>
    <tr>
        <td class="item_label">備考</td>
        <td colspan="3">@Html.DisplayFor(model => model.CustomerView.memo)</td>
    </tr>
</table>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.CustomerView?.Id">編集</a> |
    <a asp-page="./Index">一覧に戻る</a>
</div>
