@page
@model CustomerManagementSystem.Pages.CustomerView.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>顧客ID </th>
            <th>顧客名 </th>
            <th>顧客名カナ </th>
            <th>会社名 </th>
            <th>部署名 </th>
            <th>役職 </th>
            <th>営業担当者 </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.vw_customer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.customer_name)</a>
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.customer_kana)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.post)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff_name)
            </td>
        </tr>
}
    </tbody>
</table>
