@page
@model CustomerManagementSystem.Pages.SalesReport.DetailsModel

@{
    ViewData["Title"] = "営業報告（閲覧）";
}

<h1>営業報告（閲覧）</h1>

<div>
    <h4>vw_salesReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vw_salesReport.action_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vw_salesReport.action_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vw_salesReport.staff_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vw_salesReport.staff_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vw_salesReport.customer_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vw_salesReport.customer_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vw_salesReport.company_name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vw_salesReport.company_name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.vw_salesReport.action_content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.vw_salesReport.action_content)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.vw_salesReport?.Id">編集</a> |
    <a asp-page="./Index">一覧に戻る</a>
</div>
