@page
@model CustomerManagementSystem.Pages.SalesReport.IndexModel

@{
    ViewData["Title"] = "営業報告一覧";
}

<h1>営業報告一覧</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            期間：
            <input type="text" name="fromDate" />
            ～
            <input type="text" name="toDate" />
            <input type="submit" value="フィルター実行" class="btn btn-primary" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>日付</th>
            <th>対応者</th>
            <th>顧客名</th>
            <th>会社名 </th>
            <th>対応内容 </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.vw_salesReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.action_date, "{0:yyyy/MM/dd}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.action_content)
            </td>
        </tr>
}
    </tbody>
</table>


@{
    var prevDisabled = !Model.vw_salesReport.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.vw_salesReport.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index" asp-route-pageIndex="@(Model.vw_salesReport.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    前ページ
</a>

<a asp-page="./Index" asp-route-pageIndex="@(Model.vw_salesReport.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    次ページ
</a>