@page
@model CustomerManagementSystem.Pages.SalesReport.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            期間：
            <input type="text" name="fromDate" />
            ～
            <input type="text" name="toDate" />
            <input type="submit" value="フィルター実行" class="btn btn-primary" />
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>日付</th>
            <th>対応者</th>
            <th>顧客名</th>
            <th>会社名 </th>
            <th>対応内容 </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.vw_salesReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.action_date, "{0:yyyy/MM/dd}")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.staff_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.company_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.action_content)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
