@page
@model CustomerManagementSystem.Pages.Action.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>tbl_action</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_action.customerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_action.customerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_action.action_date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_action.action_date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_action.action_content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_action.action_content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.tbl_action.action_staffId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.tbl_action.action_staffId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.tbl_action?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
