@page
@model CustomerManagementSystem.Pages.Action.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tbl_action[0].customerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_action[0].action_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_action[0].action_content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_action[0].action_staffId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.tbl_action) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.customerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.action_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.action_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.action_staffId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
