@page
@model CustomerManagementSystem.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "顧客情報（閲覧）";
}

<h1>顧客情報（閲覧）</h1>

<div>

    <hr />

    <table class="details">
        <tr>
            <td class="col-sm-2">顧客ID</td>
            <td class="col-sm-10"> @Html.DisplayFor(model => model.vw_customer.Id)</td>
            <td class="col-sm-2">営業担当者</td>
            <td class="col-sm-10"> @Html.DisplayFor(model => model.vw_customer.staff_name)</td>
        </tr>
        <tr>
            <td class="col-sm-2">顧客名カナ</td>
            <td class="col-sm-10"> @Html.DisplayFor(model => model.vw_customer.customer_kana)</td>
            <td class="col-sm-2" column="3">初回訪問日</td>
            <td class="col-sm-10"> @Html.DisplayFor(model => model.vw_customer.first_action_date)</td>
        </tr>
        <tr>
            <td class="col-sm-2">顧客名</td>
            <td class="col-sm-10" colspan="3"> @Html.DisplayFor(model => model.vw_customer.customer_name)</td>
        </tr>
        <tr>
            <td class="col-sm-2">会社名</td>
            <td class="col-sm-10" colspan="3"> @Html.DisplayFor(model => model.vw_customer.company_name)</td>
        </tr>
        <tr>
            <td class="col-sm-2">部署</td>
            <td class="col-sm-10"> @Html.DisplayFor(model => model.vw_customer.section)</td>
            <td class="col-sm-2">役職</td>
            <td class="col-sm-10"> @Html.DisplayFor(model => model.vw_customer.post)</td>
        </tr>
        <tr>
            <td class="col-sm-2">郵便番号</td>
            <td class="col-sm-10" colspan="3"> @Html.DisplayFor(model => model.vw_customer.zipcode)</td>
        </tr>
        <tr>
            <td class="col-sm-2">住所</td>
            <td class="col-sm-10" colspan="3"> @Html.DisplayFor(model => model.vw_customer.address)</td>
        </tr>
        <tr>
            <td class="col-sm-2">TEL</td>
            <td class="col-sm-10" colspan="3"> @Html.DisplayFor(model => model.vw_customer.tel)</td>
        </tr>
        <tr>
            <td class="col-sm-2">備考</td>
            <td colspan="3"> @Html.DisplayFor(model => model.vw_customer.memo)</td>
        </tr>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.vw_customer?.Id">編集</a> |
    <a asp-page="./Index">一覧に戻る</a>
</div>


<!--
    ***********************************************************************************
-->
<br />
<h3>営業報告履歴</h3>


<table class="sales_report_table">
    <thead>
        <tr>
            <th>日付</th>
            <th>対応内容</th>
            <th>対応者</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.vw_salesReport)                                 @* (var item in Model.vw_salesReport) *@
        {
            <tr>
                <td>
                    <a asp-page="../Action/Edit" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.action_date)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.action_content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.staff_name)
                </td>

            </tr>
        }
    </tbody>
</table>


<p>
    <a asp-page="../Action/Create" asp-route-cid="@Model.vw_customer.Id">新しい営業報告を登録する</a>
</p>
