@page
@model CustomerManagementSystem.Pages.CustomerView.IndexModel

@{
    ViewData["Title"] = "顧客一覧";
}

<h1>顧客一覧</h1>

<p>
    <a asp-page="Create">新規作成</a>
</p>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            顧客名：
            <input type="text" name="searchCustomer" value="@Model.CurrentCustomer" />
            会社名：
            <input type="text" name="searchCompany" value="@Model.CurrentCompany" />
            <input type="checkbox" name="searchMyCustomer" value="@Model.CurrentCustomer" />
            自分の顧客のみ
            <input type="submit" value="フィルター実行" class="btn btn-primary" />
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder=""> 顧客ID</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="CustomerNameSort"> 顧客名</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="CustomerNameSort"> 顧客名カナ</a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="CompanyNameSort"> 会社名</a>
            </th>
            <th>部署名 </th>
            <th>役職 </th>
            <th>営業担当者 </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.vw_customer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.customer_name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_kana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.post)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.staff_name)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.vw_customer.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.vw_customer.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.vw_customer.PageIndex - 1)"
   asp-route-currentCustomer="@Model.CurrentCustomer"
   asp-route-currentCompany="@Model.CurrentCompany"
   class="btn btn-primary @prevDisabled">
    前ページ
</a>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort" asp-route-pageIndex="@(Model.vw_customer.PageIndex + 1)"
   asp-route-currentCustomer="@Model.CurrentCustomer"
   asp-route-currentCompany="@Model.CurrentCompany"
   class="btn btn-primary @nextDisabled">
    次ページ
</a>